In [52]:
import pandas as pd
import geojson

def data2geojson(df, filename):
    features = []
    insert_features = lambda X: features.append(
            geojson.Feature(geometry=geojson.Point((X["longitude"],
                                                    X["latitude"])),
                            properties=dict(icao=X["icao"],
                                            flight=X["flight_num"],
                                            altitude=X["altitude"],
                                            aircraft_type=X["type"],
                                            aircraft_url=X["url"])))
    df.apply(insert_features, axis=1)
    filename = filename + '.geojson'
    with open(filename, 'w', encoding='utf8') as fp:
        geojson.dump(geojson.FeatureCollection(features), fp, sort_keys=True, ensure_ascii=False)

In [4]:
data = pd.read_csv('data/aircraft_db.csv')
data['url'] = "https://www.airliners.net/search?keywords=" + data['type'].str.replace(' ', '+')
data.head()

/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,icao,regid,mdl,type,operator,url
0,000334,00000000,0000,Edra Super Petrel LS,Private owner,https://www.airliners.net/search?keywords=Edra...
1,000d77,00000000,0000,WT-9 Dynamic,Private owner,https://www.airliners.net/search?keywords=WT-9...
2,000d82,00000000,0000,Aerospool WT9 Dynamic,Private owner,https://www.airliners.net/search?keywords=Aero...
3,001100,00000000,0000,Unknown / Various,Code used by several aircraft,https://www.airliners.net/search?keywords=Unkn...
4,001108,00000000,0000,Gulfstream 690D,Ejercito de Colombia,https://www.airliners.net/search?keywords=Gulf...

In [5]:
data2 = pd.read_csv('data/private_owners.csv')
data2.head()

     icao  altitude  latitude  longitude           time  flight_num
0  000334      4700    -23.23     -46.18  1474555776606           0
1  000334      4725    -23.24     -46.17  1474555798578           0
2  008c1f       -75     43.54       6.95  1474467678392           1
3  008c1f       -50     43.54       6.95  1474467672911           1
4  008c1f       -25     43.54       6.95  1474467689268           1

In [45]:
data3 = pd.merge(data2, data, how='inner', on='icao')

In [46]:
first_last_df = pd.DataFrame(columns=data3.columns)

In [65]:
coordinates, icaos, flight_nums, icaos, aircraft_types, aircraft_urls = [], [], [], [], [], []

for icao, icao_df in data3.groupby('icao'):
    for flight_num, flight_num_df in icao_df.groupby('flight_num'):
        coordinates.append([[flight_num_df['longitude'].iloc[0], flight_num_df['latitude'].iloc[0]], [flight_num_df['longitude'].iloc[-1], flight_num_df['latitude'].iloc[-1]]])
        icaos.append(icao)
        flight_nums.append(flight_num)
        aircraft_urls.append(flight_num_df['url'].iloc[0])
        aircraft_types.append(flight_num_df['type'].iloc[0])
        first_last_df = first_last_df.append(flight_num_df.iloc[0], ignore_index=True)
        first_last_df = first_last_df.append(flight_num_df.iloc[-1], ignore_index=True)

In [54]:
data2geojson(data3, 'full_flights')

In [55]:
data2geojson(first_last_df, 'aircrafts')

In [66]:
path_df = pd.DataFrame({'icao': icaos, 'coordinates': coordinates, 'flight_num': flight_nums, 'url': aircraft_urls, 'type': aircraft_types})

In [67]:
def data3geojson(df, filename):
    features = []
    insert_features = lambda X: features.append(
            geojson.Feature(geometry=geojson.LineString((X["coordinates"])),
                            properties=dict(icao=X["icao"],
                                            flight=X["flight_num"],
                                            aircraft_type=X["type"],
                                            aircraft_url=X["url"])))
    df.apply(insert_features, axis=1)
    filename = filename + '.geojson'
    with open(filename, 'w', encoding='utf8') as fp:
        geojson.dump(geojson.FeatureCollection(features), fp, sort_keys=True, ensure_ascii=False)

In [68]:
data3geojson(path_df, 'flight_paths')